h1 {
    color: white;
}

#new-client {
    width: 100%;
}

#search-form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.date {
    font-size: 12px;
}

#avatar {
    width: 80px;
    height: 80px;
}