h1 {
    color: white;
}

#new-client {
    width: 100%;
    text-decoration:none;
}

#search-form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.date {
    font-size: 12px;
    margin-bottom: 15px;
}

#avatar {
    width: 80px;
    height: 80px;
}

#date-card {
    z-index: 1;
}

.center-box {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%)!important
}

@media (max-width: 991px) {
    .center-box {
        position: unset !important;
        transform: unset !important
    }

    #clean-button {
        margin-top: 10px;
    }
}
  